html, body {
  margin: 0;
  padding: 0;
}

/* Title and Tooltip container */

.t1 {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  margin-top: 80vh;
  color: #a0a0a0;
  font-size: 2em;
  cursor: pointer;
}

@media only screen and (max-device-width: 768px) {
  /* For mobile phones: */
  .t1 {
    font-size: 3em;
  }
}

.t2 {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  margin-top: 5vh;
  color: #a0a0a0;
  font-size: 20px;
}

.t3 {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  font-size: 2em;
  background-color: #d1d1d1;
  border: none;
  color: white;
  padding: 0.4em 0.8em;
  display: inline-block;
  outline: none;
  cursor: pointer;
}

.t3:hover {
  outline: none;
}

.t4 {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  line-height: 100px;
  margin-top: 5vh;
  color: #a0a0a0;
  font-size: 3em;
}

.t5 {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  margin-top: 1vh;
  margin-bottom: 5vh;
  color: #a0a0a0;
  font-size: 1.5em;
}

@media only screen and (max-device-width: 768px) {
  /* For mobile phones: */
  .t3 {
    font-size: 5em;
    padding: 0.2em 0.5em;
  }
  .t4 {
    font-size: 5em;
    margin-bottom: 0.5em;
  }
  .t5 {
    font-size: 2.5em;
    margin-bottom: 1em;
  }
}

canvas {
  padding: 0;
  margin: auto;
  display: block;
  width: 800px;
  height: 600px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Tooltip suff */

/* Tooltip text */

.t1 .tooltiptext {
  font-family: 'Roboto', sans-serif;
  visibility: hidden;
  background-color: #f7f7f7;
  opacity: 0.9;
  color: #a0a0a0;
  text-align: center;
  padding: 0.5em 0.5em;
  border-radius: 6px;
  font-size: 0.35em;
  text-align: center;
  bottom: 20%;
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -15%;
  width: 30%;
}

@media only screen and (max-device-width: 768px) {
  /* For mobile phones: */
  .t1 .tooltiptext {
    font-size: 0.5em;
    margin-left: -40%;
    width: 80%;
  }
}

/* Show the tooltip text when you mouse over the tooltip container */

.t1:hover .tooltiptext {
  visibility: visible;
}
